*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Serif Text";
}

/* -- PAGE 0 = SECTION 1 (s1) -- */

.homepage_logo{
    position: absolute;
    width: 100%;
    height:auto;
}

.s1{
    background-image: url("./images/andre-benz-RRshxnCn8Lk-unsplash.jpg");
    background-size: cover;
    color:rgb(255, 238, 238);
}

h1{
    font-size: 74px;
    font-family: "DM Serif Text";
    position: absolute;
    top: 7.5%;
    left:50%;
    transform: translate(-50%, -20%);
    animation: fadein 3s;
}

/* keyframe for s1, h1, h3 fadein ^animation^ */

@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}

h3{
    font-size: 24px;
    font-family: "DM Serif Text";
    position: absolute;
    top: 25.5%;
    left: 50%;
    transform: translate(-50%, -20%);
    animation: fadein 3s;
    {animation-timing-function: ease-in;}
}

i{
    color: rgb(255, 217, 0);
}

/* -- ABOUT - PAGE 1 = SECTION 2 (s2) -- */

.s2{
    background: #ffc637;
    color: white;
}

.s2 img{
    position:absolute;
    right: -60%;
    top: -15%;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.25);
}

.s2 img:hover{
    opacity: 1;
    box-shadow: -5px 20px 25px rgba(0,0,0,.25);
}

.pic_info{
    position:absolute;
    right: -61.5%;
    top: 15%;
    background: #FFF;
    color: black;
    opacity: 0;
}

.pic:hover .pic_info{
    opacity: 0.7;
    text-align: justify;
      color:#000000;
      font-size: 14px;
      font-weight: 500;
      font-family: "DM Serif Text";
      padding: 10px;
      border-radius: 10px;
}

.s2 h1{
    color: #ffffff;
    position: absolute;
    top: 2.5%;
    left: 50%;
}

.s2 p{
    color:rgb(54, 54, 54);
    font-family: "DM Serif Text";
    font-size: 17px;
}

.description {
    font-family: "DM Serif Text";
    position: absolute;
    top: 30%;
    left: 5%;
    right:40%;
}

/* --  Social Icons -- */

.fa{
    padding: 20px;
    font-size: 30px;
    width: 52.5px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 50%;
}

.fa:hover{
    opacity: 0.7;
}

.fa-facebook{
     background: #3B5998;
     box-shadow: 0px 3px 10px rgba(0,0,0,.25);
     color: white;
}

.fa-instagram{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    color: white;
}

.fa-twitter{
     background: #55ACEE;
     box-shadow: 0px 3px 10px rgba(0,0,0,.25);

    color: white;
}


.s3 h1 {
    color: rgb(255, 255, 255);
}

.s3 form {
    box-shadow: 0px 10px 15px rgba(0,0,0,.25);
}

/* -- GET IN TOUCH - PAGE 2 = SECTION 3 (s3) -- */
.s3 {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
    background:rgb(167, 237, 255);
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
    position:relative;
    top: 5%;
    border-radius: 10px;
}


#contact {
	background:#ffdf2a;
	padding:25px;
    margin:50px 0;
    border-radius: 15px;
}


#contact h4 {
	margin:5px 0 15px;
	display:block;
    font-size:14.5px;
}

fieldset {
	border: medium none;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
    width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:rgb(255, 255, 255);
	margin:0 0 5px;
    padding:10px;
    border-radius: 10px;

}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
    border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;

}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:rgb(96, 223, 255);
	color:rgb(0, 0, 0);
	margin:0 0 5px;
	padding:10px;
    font-size:16px;
    border-radius: 15px;
}

#contact button[type="submit"]:hover {
    background:rgb(0, 174, 255);
	color:rgb(255, 251, 0);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

form #container {
    border-radius: 15px, 50px;
}

h3 { 
    font-family: "DM Serif Text";
}